In [14]:
import pandas as pd

df = pd.read_csv('movies.csv') #df or data frame is a main object in py library which has tabular data

#df.head(num_rows) - Prints only that many records of that dataset (from top)

#df.tail(num_records) - Prints records of dataset (from bottom)

df.head(2)


#df.sample(num_records) - Randomly print records from the dataset



#Slicing is also possible like df[2:6]

df.shape #Dimension of the dataset

#You can print a specific attribute by two methods

#Method -1
#df['attribute_name']

#Method-2
#df.attriute_name

df.Genre

#type(df.attribute_name) -Prints the data type of the attribute

type(df.Genre)

pandas.core.series.Series

In [28]:
#Pandas has readymade functions for min,max,std_deviation etc whihc makes it easier to handle data and derive a specific result from it

#Lets use rotten_tomatoes as reference here

print(f"Minimum rotten tomatoes rating is: {df['Rotten Tomatoes %'].min()} ")

Minimum rotten tomatoes rating is: 3

In [21]:
df.head(2)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010

In [22]:
df.tail(3)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

In [23]:
df.sample(6)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
21,The Back-up Plan,Comedy,CBS,47,2.202571,20,$77.09,2010
63,Going the Distance,Comedy,Warner Bros.,56,1.314062,53,$42.05,2010
59,I Love You Phillip Morris,Comedy,Independent,57,1.340000,71,$20.10,2010
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
56,Just Wright,Comedy,Fox,58,1.797417,45,$21.57,2010
48,Love Happens,Drama,Universal,40,2.004444,18,$36.08,2009

In [33]:
#Lets say i want a seperate df for genre wise

dfr = df[df.Genre == 'Romance']
dfr

dfc = df[df.Genre == 'Comedy']
dfc

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
9,Valentine's Day,Comedy,Warner Bros.,54,4.184038,17,$217.57,2010
13,The Ugly Truth,Comedy,Independent,68,5.402632,14,$205.30,2009
16,The Proposal,Comedy,Disney,74,7.867500,43,$314.70,2009
17,The Invention of Lying,Comedy,Warner Bros.,47,1.751351,56,$32.40,2009
18,The Heartbreak Kid,Comedy,Paramount,41,2.129444,30,$127.77,2007
21,The Back-up Plan,Comedy,CBS,47,2.202571,20,$77.09,2010
24,She's Out of My League,Comedy,Paramount,60,2.440500,57,$48.81,2010
25,Sex and the City Two,Comedy,Warner Bros.,49,2.883500,15,$288.35,2010
26,Sex and the City 2,Comedy,Warner Bros.,49,2.883500,15,$288.35,2010
27,Sex and the City,Comedy,Warner Bros.,81,7.221796,49,$415.25,2008
30,Penelope,Comedy,Summit,74,1.382800,52,$20.74,2008
32,Over Her Dead Body,Comedy,New Line,47,2.071000,15,$20.71,2008
33,Our Family Wedding,Comedy,Independent,49,0.000000,14,$21.37,2010
36,No Reservations,Comedy,Warner Bros.,64,3.307180,39,$92.60,2007
37,Nick and Norah's Infinite Playlist,Comedy,Sony,67,3.352729,73,$33.53,2008
42,Miss Pettigrew Lives for a Day,Comedy,Independent,70,0.252895,78,$15.17,2008
44,Marley and Me,Comedy,Fox,77,3.746782,63,$206.07,2008
45,Mamma Mia!,Comedy,Universal,76,9.234454,53,$609.47,2008
46,Mamma Mia!,Comedy,Universal,76,9.234454,53,$609.47,2008
49,Love & Other Drugs,Comedy,Fox,55,1.817667,48,$54.53,2010
50,Life as We Know It,Comedy,Independent,62,2.530526,28,$96.16,2010
51,License to Wed,Comedy,Warner Bros.,55,1.980206,8,$69.31,2007
52,Letters to Juliet,Comedy,Summit,62,2.639333,40,$79.18,2010
53,Leap Year,Comedy,Universal,49,1.715263,21,$32.59,2010
54,Knocked Up,Comedy,Universal,83,6.636402,91,$219,2007
56,Just Wright,Comedy,Fox,58,1.797417,45,$21.57,2010
58,It's Complicated,Comedy,Universal,63,2.642353,56,$224.60,2009
59,I Love You Phillip Morris,Comedy,Independent,57,1.340000,71,$20.10,2010
60,High School Musical 3: Senior Year,Comedy,Disney,76,22.913136,65,$252.04,2008
61,He's Just Not That Into You,Comedy,Warner Bros.,60,7.153600,42,$178.84,2009
62,Good Luck Chuck,Comedy,Lionsgate,61,2.367685,3,$59.19,2007
63,Going the Distance,Comedy,Warner Bros.,56,1.314062,53,$42.05,2010
66,Ghosts of Girlfriends Past,Comedy,Warner Bros.,47,2.044400,27,$102.22,2009
67,Four Christmases,Comedy,Warner Bros.,52,2.022925,26,$161.83,2008
69,Enchanted,Comedy,Disney,80,4.005737,93,$340.49,2007
71,Beginners,Comedy,Independent,80,4.471875,84,$14.31,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008